{% extends 'core/base.html' %}

{%block title %}
Contacto
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
        <h1>William Rojo</h1>
        <span class="subheading">Ingeniero Industrial</span>
{% endblock %}

{% block content %}
<div class="row">    
<div class="col-lg-8 col-md-10 mx-auto">
          <p>Contacto Personal </p>
          <p><b>Teléfono:</b> +58 414 6688 764</p>
          <p> Puedes contactarme tambien al correo: <a href="mailto:william.jesus.leo@gmail.com">Contactame</a> </p>
           <!--<p>Si quieres ver mi portafolio puedes hacerlo <a href="{% url-->
          <br>
          
        </div>
        </div>
<h1>  </h1>             
{% endblock %}

                        